[Unit]
Description=SC2 Benchmarker
After=nginx.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/SCBenchmarker/
ExecStart=/usr/bin/uwsgi uwsgi.ini

[Install]
WantedBy=multi-user.target
