<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <script src="{{ url_for('static', filename='graphing.js') }}"></script>

        <!-- Uses Chart.JS: https://github.com/chartjs/Chart.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"></script>

        <title>SC2 Benchmarker</title>
    </head>
    <body>
        <h1>SC2 Benchmarker</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="gridContainer">
            <div class="nameSelector">
                <label for="benchName">Benchmark Replay</label>
                <p><select name="benchName" id="benchName" onchange="showGraphs(benchName.value, ownName.value)">
                    <option disabled selected value> -- select a player -- </option>
                    {% for pid in bench_players %}
                        <option value={{ pid }}>{{ bench_players[pid] }}</option>
                    {% endfor %}
                </select></p>
            </div>

            <div class="nameSelector">
                <label for="ownName">Your Replay</label>
                <p><select name="ownName" id="ownName" onchange="showGraphs(benchName.value, ownName.value)">
                    <option disabled selected value> -- select a player -- </option>
                    {% for pid in own_players %}
                        <option value={{ pid }}>{{ own_players[pid] }}</option>
                    {% endfor %}
                </select></p>
            </div>

            <div class="graphContainer fullblock income" id="mineralChartContainer">
                <canvas id="mineralChart"></canvas>
            </div>

            <div class="graphContainer fullblock income" id="gasChartContainer">
                <canvas id="gasChart"></canvas>
            </div>

            <div class="graphContainer fullblock income" id="workerChartContainer">
                <canvas id="workerChart"></canvas>
            </div>

            <div class="graphContainer fullblock supply" id="supplyChartContainer">
                <canvas id="supplyChart"></canvas>
            </div>

            <div class="build" id="benchmarkBuild"></div>
            <div class="build" id="ownBuild"></div>
        </div>

        <script type="text/javascript">
            /**
             * Takes in replay data for both bench replay and player replay.
             * Then spits out the graphs onto the canvas elements.
             * @param {int} benchPlayerValue - 1 for player1, 2 for player2
             * @param {int} ownPlayerValue - 1 for player1, 2 for player2
             */
            function showGraphs(benchPlayerValue, ownPlayerValue) {
                // both values must be selected
                if (benchPlayerValue != "" && ownPlayerValue != "") {
                    var timestamps = {{ bench_timestamps|tojson }}[benchPlayerValue];

                    // minerals
                    var benchMinerals = {{ bench_minerals|tojson }}[benchPlayerValue];
                    ownMinerals = {{ own_minerals|tojson }}[ownPlayerValue];

                    // gas
                    var benchGas = {{ bench_gas|tojson }}[benchPlayerValue];
                    var ownGas = {{ own_gas|tojson }}[ownPlayerValue];

                    // workers built
                    var benchWorkers = {{ bench_workers_produce|tojson }}[benchPlayerValue];
                    var ownWorkers = {{ own_workers_produce|tojson }}[ownPlayerValue];

                    // supply
                    var benchSupply = {{ bench_supply|tojson }}[benchPlayerValue];
                    var ownSupply = {{ own_supply|tojson }}[ownPlayerValue];

                    // build
                    var benchBuild = {{ bench_build|tojson }}[benchPlayerValue];
                    var ownBuild = {{ own_build|tojson }}[ownPlayerValue];

                    // these show functions are all contained in static/graphing.js
                    showMineralGraph(timestamps, benchMinerals, ownMinerals);
                    showGasGraph(timestamps, benchGas, ownGas);
                    showWorkersGraph(timestamps, benchWorkers, ownWorkers);
                    showSupplyGraph(timestamps, benchSupply, ownSupply);

                    showBuild(timestamps, benchBuild, ownBuild);
                }
            }
        </script>
    </body>
</html>
